<!DOCTYPE html>
<html layout:decorate="~{fragments/main_layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">
    <h1>Edit Bank Account</h1>
    <form
            method="POST"
            th:action="@{/bankaccount/edit/{id}(id=${bankAccount.id})}"
            th:object="${bankAccount}">

        <div class="form-group">
            <label for="inputId">Id</label>
            <input class="form-control" disabled id="inputId" th:field="*{id}" type="text">
        </div>

        <div class="form-group">
            <label for="inputCustomer">Customer Id</label>
            <input class="form-control" disabled id="inputCustomer" th:field="*{customerId}" type="text">
        </div>

        <div class="form-group">
            <label for="inputType">Type</label>
            <input class="form-control" disabled id="inputType" th:field="*{type}" type="text">
        </div>

        <div class="form-group">
            <label for="inputBalance">Balance</label>
            <input class="form-control" id="inputBalance" th:field="*{balance}" type="text">
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit">
        </div>

    </form>
</div>