<!DOCTYPE html>
<html layout:decorate="~{fragments/main_layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">
    <h1>Register Customer</h1>
    <form action="#" method="POST" th:action="@{/customer}">
        <div class="form-group">
            <label for="inputId">Id</label>
            <input class="form-control" id="inputId" name="id" type="input">
        </div>

        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" id="inputName" name="name" type="input">
        </div>

        <div class="form-group">
            <label for="inputPin">Pin</label>
            <input class="form-control" id="inputPin" name="pin" type="password">
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit">
        </div>
    </form>
    <hr>

    <h1>All Customers</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Pin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${allCustomers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.pin}"></td>
        </tr>
        </tbody>
    </table>
</div>